div#site-nav.site-title-links(style="font-family: Source Sans Pro, sans-serif")
    style.
        #toc {
            max-height: 25vh; /* Set the maximum height */
            overflow-y: auto; /* Enable vertical scrolling */
            position: relative;
            flex-direction: column;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */
            scroll-behavior: smooth; /* 可选：容器自身滚动也启用平滑效果 */
            padding: 10px 0; /* 增加内边距避免边缘项贴边 */
            left: 0;
        }
        #toc::-webkit-scrollbar {
            display: none; /* For Chrome, Safari, and Opera */
            width: 6px;
        }
        #toc .toc-link {
            border-bottom: 0;

        }
        /* 精准匹配带 .toc-text 的 span 元素 */
        #toc .toc-link span.toc-text {
            color: #8a8b91;
            transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
            -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
            -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
            -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
            &:hover {
                color: #ffffff;
                background-color: #2e405b;
            }
        }
        #toc ol {
            padding: 0px 0px 0px 20px;
        }
        #toc .toc-link span.toc-text.active {
            font-weight: bold;
            font-size: 1.5em;
            color: #ffffff ;
            background-color: #2e405b;
            text-decoration: underline;
            line-height: 1.5em;
        }
        #toc .toc-item::marker {
            content: "-";
            display: none;
        }
        .toc-item {
            font-size: 0.95em;
            line-height: 0.8em;
            flex: 1;
            padding: 10px;
        }
    if is_post()
        div#toc
            != toc(page.content)
    ul

        li
            if is_home()
                a.current(href=config.root)= __('Home')
            else
                a(href=config.root)= __('Home')
        if !is_post()
            li
                if is_current('archives/')
                    a.current(href=config.root + config.archive_dir)= __('Archives')
                else
                    a(href=config.root + config.archive_dir)= __('Archives')
        if !is_post()
            li
                if is_archive()
                    a.current(href=config.root + config.archive_dir)= __('Archive')
                else
                    a(href=config.root + config.archive_dir)= __('Archive')
        - if (site.categories.length > 0 && !is_post()){
        li
            if is_current('categories/')
                a.current(href=config.root + config.category_dir)= __('Categories')
            else
                a(href=config.root + config.category_dir)= __('Categories')
        - }
        - if (site.tags.length > 0 && !is_post()) {
        li
            if is_current('tags/')
                a.current(href=config.root + config.tag_dir)= __('Tags')
            else
                a(href=config.root + config.tag_dir)= __('Tags')
        - }
        - if (site.tags.length > 0 && !is_post()) {
        li
            if is_current('tags/ACM/')
                a.current(href=config.root + config.tag_dir + '/ACM')= __('ACM')
            else
                a(href=config.root + config.tag_dir + '/ACM')= __('ACM')
        - }
        include ../mixins
        +make_page_links()
        li.soc
            if theme.github
                a(href="https://github.com/" + theme.github, target="_blank", rel="noopener noreferrer", aria-label="Github")
                    i.fa.fa-github &nbsp;
            if theme.twitter
                a(href="https://twitter.com/" + theme.twitter, target="_blank", rel="noopener noreferrer", aria-label="Twitter")
                    i.fa.fa-twitter &nbsp;
            if theme.instagram
                a(href="https://www.instagram.com/" + theme.instagram, target="_blank", rel="noopener noreferrer", aria-label="Instagram")
                    i.fa.fa-instagram &nbsp;
            if theme.weibo
                a(href="http://weibo.com/u/" + theme.weibo, target="_blank", rel="noopener noreferrer", aria-label="Sina Weibo")
                    i.fa.fa-weibo &nbsp;
            if theme.rss
                a(href=config.url + "/" + theme.rss, target="_blank", rel="noopener noreferrer", aria-label="RSS")
                    i.fa.fa-rss &nbsp;
    div.visible-lg.visible-md.visible-sm.site-nav-footer
        br.site-nav-footer-br
        include footer
script(src= url_for('/js/menubar.js'))
